body {
    background-color: #e6f7e9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

header h1 {
    margin: 0;
    margin-left: 40px;
    color: #333;
    font-size: 1.5rem;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
}

.btn-header,
#popup-btn-adicionar{
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: 0;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.2s;
    cursor: pointer;
}

.btn-header:hover,
#btn-novo-cliente:hover,
#popup-btn-adicionar:hover {
    background-color: #29792d;
}

#btn_logout{
    margin-right: 40px;
    transition: 0.2s;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#btn_logout:hover {
    scale: 1.10;
}

main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    width: 90%;
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 8px;
    box-sizing: border-box; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    justify-content: center;
    gap: 20px;
}

.medium-box {
    display: flex;
    align-items: center;
    gap: 20px;
    width: calc(25% - 15px);
    height: 100px;
    background-color: #4caf4f59;
    border: 1px  #8dd690 solid;
    border-radius: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.medium-box img{
    padding: 10px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

.big-box {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #4caf4f33;
    border: 1px  #8dd690 solid;
    border-radius: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    img{
        width: 25px;
        height: 25px;
        border-radius: 10px;
    }
}

.box-text{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 10px;
    
    p, b {
        margin: 0;
    }
}

.box-header{
    width: 100%;
    margin-top: 30px;
}

.dashboard-img-default{
    color: #b97900;
    background-color: rgb(228, 248, 224);
}

.dashboard-img-orange{
    background-color: rgb(255, 223, 175);
}

.dashboard-img-green{
    background-color: rgb(125, 226, 122);
}

/*  --------------- Clientes ---------------- */

#btn-novo-cliente{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    gap: 10px;
    background-color: #4CAF50;
    color: white;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.2s;
    cursor: pointer;
    white-space: nowrap;
}

#popupBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 60;
}

#popup {
    display: flex;
    flex-direction: column;
    background: white;
    width: 550px;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    position: relative;
}

#popup-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 80px;
    /* background-color: green; */
}

#popupContent{
    width: 90%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* background-color: #29792d; */
}

#popupContent label{
    font-weight: bold;
    box-sizing: border-box;
}

#popupContent input{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(233, 233, 233);
    box-sizing: border-box;
}

#closeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
    width: 30px;
    height: 30px;
    transition: 0.2s;
    cursor: pointer;
}

#closeBtn span{
    font-size: 28px;
    font-weight: bold;
    color: red;
}

#popup-buttons{
    display: flex;
    margin-top: 10px;
    justify-content: right;
    gap: 10px;
}

#popup-btn-cancelar{
    padding: 15px;
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.2s;
    cursor: pointer;
}
#popup-btn-cancelar:hover{
    background-color: rgb(228, 228, 228);
}
